
/*------------------------------------------------------HEADER----------------------------------------------------------*/
body{
    font-family: sans-serif;
    margin: 0 auto;
}

#main-color{
    background-color: #b1c2ed;
}

nav{
    background-color:#9c6b6b;
    height: 70px;
    display: block;
}

.main-menu{
    margin: 1px; 
    padding-left: 0;
}

.main-menu li{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    display: inline;
    font-weight: bold;
    
}

.one{
    text-decoration: none;
    color: #FFF;
    text-align:left;
    font-weight: normal;
}


.two{
    font-size: 30px;
    color: #410101;
    padding: 10px; 
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}


#first-h1{
    color: #FFF;
    font-size: 64px;
    margin: 0 auto;
    padding-bottom: 10px;
}

#first-h2{
    color:#17328f;
    font-size: 36px;
    margin: 0 auto;
    padding-bottom: 5px;
}

/*-----------------------------------------------------IMAGE------------------------------------------------------------*/

.pikachu{ 
    float:left;
    min-width:400px;
    height:400px;
    background: url(images/Pikachu.jpg)no-repeat center;
    background-size: contain; 
    background-position-x: 0;
    background-position-y: 0;
  }

.image-style{
    margin-right: 0;
    margin-bottom: 100px;
} 

/*--------------------------------------------------------MAIN------------------------------------------------------------*/
.second-h1{
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 0;
}

.second-h2{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
}

article > ul > li{
    list-style: none;
}

article > ul{
    padding-left:0;
}

 article{
    background-color:#c4c4c4;
    margin-bottom:40px;
} 

/*--------------------------------------------------------SECTION----------------------------------------------------------*/


.first-section{
    width: 560px;
    height: 370px;
    padding: 30px;
    float: right;
} 

.other-section{
    width: 560px;
    height: 370px;
    padding: 30px;
    float: right;
} 

.last-section{
    width: 560px;
    height: 370px;
    padding: 30px;
    float: right;
    margin-bottom: 220px;
} 


.liste{
    font-size: 16px;
    font-weight: bolder;
    color: #000;
}

.element{
    color: #000;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 10px;
}

.electricite{
    font-size: 16px;
    color: #000;
}

/*---------------------------------------------------------FOOTER-----------------------------------------------------*/

#footer{
    clear:both;
    height: 150px;
    width: 100%;
    background-color:#c4c4c4;
    margin-top: 100px;
    background-attachment: scroll;
    position: fixed;
    bottom: 0;
    left:0;
}

#footer h6{
    font-size: 20px;
    text-align:center;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
}

/*----------------------------------------------------GENERALE---------------------------------------------------------*/
.clearfix{
    clear:both;
}

.wrapper{
    width: 1024px;
    margin: 0 auto;
    padding-top:20px;
}

main{
    height: 1550px;
}