
/*------------------------------------------------------HEADER----------------------------------------------------------*/
body{
    font-family: sans-serif;
    margin: 0 auto;
}

#main-color{
    background-color: #b1c2ed;
}

nav{
    background-color:#9c6b6b;
    height: 70px;
    display: block;
}

.main-menu{
    margin: 1px; 
    padding-left: 0;
}

.main-menu li{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    display: inline;
    font-weight: bold;
    
}

span{
    color: #FFF;
    text-align:left;
    font-weight: normal;
}

a{
    font-size: 30px;
    color: #410101;
    padding: 10px; 
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}


/*------------------------------------------------------MAIN left--------------------------------------------------------*/

aside{
    font-size: 24px;
    width:300px;
}


.article{
    width: 660px;
    background-color: #c4c4c4;
    padding: 20px;
}

.left > p{
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

#main-footer{
    font-weight: bolder;
    text-align: right;
}


/*----------------------------------------------------liste des h-------------------------------------------------------*/
h1{
    color: #FFF;
    font-size: 64px;
    margin: 0 auto;
    padding-bottom: 10px;
}

h2{
    color:#17328f;
    font-size: 36px;
    margin: 0 auto;
    padding-bottom: 5px;
}

h3{
    margin-top: 20%; 
    padding-bottom: 4px;
    font-size: 36px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}

h4{
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 2px;
    margin-block-start: 0;
    margin-block-end: 0;
}


h5{
    font-size:20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    padding-top: 1px;
}

h6{
    font-size:20px;
}


/*-----------------------------------------------------IMAGE------------------------------------------------------------*/

.main-image{  
    height: 350px;
    background: url(images/aflower.jpg)no-repeat center;
    
  }

  /*------------------------------------------------CATEGORIE right-----------------------------------------------------*/
  aside ul{
    margin-block-start: 0;
    margin-block-end: 0;
}

  .categories > h2{
    color: #000;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
    
}

.color{
    background-color: #b96767;
    height:520px;
}

aside li{
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
    color: #FFF;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 3px;
    font-weight: bolder;
}

/*------------------------------------------------------3 SECTIONS DU BAS-------------------------------------------------*/



#etape-1{
    background-color: #c4c4c4;
    float:left;
    width:200px;
    height: 270px;
   margin-right:25px;
    
}

#etape-2{
    background-color: #c4c4c4;
    width: 570px;
    height: 200px;
    padding-bottom: 10px;
    display: inline-block;
}

#etape-3{
    background-color: #c4c4c4;
    float:right;
    width:200px;
    height: 270px;
    margin-left: 1.5%;
}

 #les_etapes p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    padding-left:10px;
    padding-right: 10px;
    margin-bottom: 250px;
 }

/*---------------------------------------------------------FOOTER-----------------------------------------------------*/

#footer{
    height: 150px;
    width: 100%;
    background-color:#c4c4c4;
    margin-top: 100px;
    background-attachment: scroll;
    position: fixed;
    bottom: 0;
    left:0;
}

#footer h6{
    text-align:center;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
}



/*----------------------------------------------------GENERALE---------------------------------------------------------*/

.left{
    float: left;

}

.right{
    float: right;
}

.clearfix{
    clear:both;
}

.wrapper{
    width: 1024px;
    margin: 0 auto;
    padding-top:20px;
}
